.flexsection{
    justify-content: space-between;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    

}
.flextext > h1{
    font-family: Space Grotesk;
    font-size: 27px;
    font-weight: 650;
    line-height: 38px;
    text-align: left;
    background: white;

}
.flextext > h2{
    font-family: Nunito;
    font-size: 17px;
    font-weight: 550;
    line-height: 25px;
    text-align: left;
    background: white;

}
.flextext > h3{
    font-family: Space Grotesk;
    font-size: 18px;
    font-weight: 350;
    line-height: 29px;
    text-align: left;    
    max-width: 15em;
    background: white;

}
