.middlesection{
    display: flex;
    justify-content: space-between;
    padding: 30px; 
    gap: 2em;
    margin-top: 3%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0;
    margin-top: 0;

}


.middleitem{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1%;
    max-width: 400px;
    margin-top: 4%;
}
.middleimg >img{
    max-width: 100%;
}
.middletext> h1{
    font-family: Space Grotesk;
    font-size: 25px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 4%;
    display: flex;
    justify-content: center;
}

.middletext > h2{
    font-family: Space Grotesk;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    
}
.imagesection> img{
    gap: 10%;
}


