.sec{
  display: flex;
  margin-left: 57%;
  gap: 20%;
  margin-top: -100px;
 
}
.boxtext1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px; 
    justify-content: center;
    
    
  }
  
  .boxtext2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px; 
    justify-content: center; 
   


  }
  

  

  
